<% block('localScripts', '<script src="/js/index.js"></script>') %>

<!-- <select name="mess" id="mess" onchange="BookMess(this, <%=JSON.stringify(messes)%>)">   -->
    <!-- <option>select</option> -->
    <h6>Choose Mess</h6>
    <% messes.forEach(function(value, key){ %>
    		<a href="/messbook/<%= value.id %>"><%= value.name %></a>
    		<br>
    <% }) %>
<!-- </select> -->