<div class="ui center aligned container" style="width: 25%;">
	<form id ="messbookgroup" action="/messbookgroup" method="post">
	<% for(var i=0 ; i < names.length ; i++){ %>
		<div class="membermess"> 
			<br>
		<h4>Choose mess for <%= names[i].name %> </h4>
		<!-- <br> -->
		<input name="userid" type="hidden" value="<%= names[i].registration_number %>" class='form-control' required>
		<!-- <br> -->
		<select name="student" form = "messbookgroup" class="form-control" required>  
	    <option>select</option>
	    <% messes.forEach(function(value, key){ %>
	    		<option value ="<%= value.id %>"><%= value.name %></option>
	    <% }) %>
		</select>
		</div>
	<% } %>

	<br>
	<input class="ui huge black button" type="submit"/>
	</form>
</div>