
<div class="container-fluid">
	<div class="ui blue message">
		<h1 class="welcome">Welcome, <%=first_name%> <%=last_name%></h1>
	</div>

	<div class="ui center aligned container">
		<a class="ui massive orange button" href="/bookroom">Book Room</a>
		<!-- <a class="ui massive black button" href="/viewRooms">View Rooms & Details</a>	 -->
	</div>
</div>
