<% block('localScripts', '<script src="/js/index.js"></script>') %>
<!-- <script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io.connect('http://localhost');
  socket.on('news', function (data) {
    console.log(data);
    socket.emit('my other event', { my: 'data' });
  });
</script> -->
YO
<select name="hostel" id="hostel" onchange="ShowFloors(this, <%=JSON.stringify(hostels)%>)">  
    <option>select</option>
    <% hostels.forEach(function(value, key){ %>
    		<option><%= key %></option>
    		<!-- <% for(var i=0; i < value.length; i++) {%>
    			<% var a = JSON.parse(JSON.stringify(value[i])); %>
    			<h6><%=a["name"]%></h6>
    		<% } %> -->
    <% }) %>
</select>

<section ng-controller="RoomCtrl1"> 
  <select name="floor" id="floor" disabled="disabled" ng-model="floor" ng-change="showRooms(floor);">
      <option>select</option>
  </select>
</section>
<section ng-controller="RoomCtrl">
  <div ng-repeat="entry in roomEntries | orderBy:'+'" class="animation feed-entry">
        <span class="pull-right text-muted" am-time-ago="entry.createdAt"></span>
        <!-- <i class="fa fa-{{entry.icon}} text-muted"></i> -->
        <a href="/book/{{entry}}">{{entry}}</a>
        <!-- <small class="meta text-muted">
        </small> -->
      </div>
</section>


