YO
<select name="hostel" id="hostel" onchange="ShowFloors(this)">
    <option>select</option>
    <%- hostels.forEach(function(value, key){ %>
    		<option><%= key %></option> 
    <% }) %>
</select>

<select name="floor" id="floor" disabled="disabled">
    <option>select</option>
</select>

