<% block('localScripts', '<script src="/js/index.js"></script>') %>
<!-- <script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io.connect('http://localhost');
  socket.on('news', function (data) {
    console.log(data);
    socket.emit('my other event', { my: 'data' });
  });
</script> -->

<!-- <center> -->
  <div class="container-fluid">
    <div class="ui center aligned container" style="width: 40%;">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="displayhostelheader">You are booking rooms for <%= group_size %> student(s) (including yourself)</h3>
    </div>
      <!-- <br> -->
    <div class="panel-body">
    <select name="hostel" id="hostel" onchange="ShowFloors(this, <%=JSON.stringify(hostels)%>)" class='form-control'>  
        <option>Select Hostel</option>
        <% hostels.forEach(function(value, key){ %>
        		<option><%= key %></option>
        <% }) %>
    </select>
    <br>
    <br>

    <section ng-controller="RoomCtrl1"> 
      <select name="floor" id="floor" disabled="disabled" ng-model="floor" ng-change="showRooms(floor, <%= group_size %>);" class='form-control'>
          <option>Select Block and Floor</option>
      </select>
    </section>
    <section ng-controller="RoomCtrl">
      <div ng-repeat="entry in roomEntries | orderBy:'+'" class="animation feed-entry">
            <span class="pull-right text-muted" am-time-ago="entry.createdAt"></span>
            <!-- <i class="fa fa-{{entry.icon}} text-muted"></i> -->
            <div ng-if="$index%10 == 0">
              <br>
            </div>
            <button class="ui brown button" ng-click="thisroomismine(entry)">{{entry}}</button>
            <!-- <small class="meta text-muted">
            </small> -->
          </div>
    </section>
    </div>
  </div>
  </div>
</div>
<!-- </div> -->
<!-- </center> -->

