<center>
	<h1 class="loginheader">OMAHA Login</h1>
	<form action="/login" method="post">

	  <input name="username" placeholder="Username" type="text"/>
	  <br>
	  <br>
	  <input name="password" placeholder="Password" type="password"/>
	  <br>
	  <br>

	  <input type="submit"/ value="Login">
	</form>
</center>
