<h1>OMAHA Login</h1>
<form action="/login" method="post">

  <label for="username">Your Username</label>
  <input name="username" type="text"/>
  <br/>

  <label for="password">Your Password</label>
  <input name="password" type="password"/>
  <br/>

  <input type="submit"/>
</form>
