<div class="ui center aligned container"  style="width: 40%;">

<!-- <h2>Your Group</h2> -->
<% if (flag == 1) { %>
  
  <div class="ui red message">
    <h2><%= names %></h2>
  </div>
<br>
<br>
<br>

<!--   <div class = "panel panel-success">
    <div class="panel-heading">
        <h3>Create a group</h3>
    </div>
    <div class="panel-body">


            <form class="form-horizontal" action = '/createGroup' method="POST">
                <div class='form-group'>
                    <label class="control-label col-sm-3" for="inputGroupName">Group Name:  </label>
                    <div class='col-sm-9'>
                        <input autocomplete="off" name='groupname' type="text" class="form-control" placeholder="Enter group name" required autofocus>
                    </div>
                </div>
                <div class='text-center'>
                  <button class="ui huge blue button" type="submit" style="">Create</button>
              </div>
            </form>


    </div>
  </div> -->

<% } %>

<% if (flag == 0) { %>

  <div class="ui green message">
    <h3>Your Group</h3>
  </div>

    <form class="form-horizontal" action = '/deleteGroup' method="POST">
      <button class="ui large red button" type="submit" style="">Delete Group</button>
    </form>

  <table class="ui brown center aligned celled table">
    <thead>
      <th><h4>Members</h4></th>
      <th><h4></h4></th>
    </thead>
    <tbody>
  <% for(var i=0 ; i < names.length ; i++){ %>
      <tr>
      	<td>
  		<h4> <%= names[i].name %> </h4>
  		</td>
        <td>
          <% if(names[i].registration_number != myreg_no) { %>
            <form class="form-horizontal" action = '/removeMate' method="POST">
              <input autocomplete="off" name='toremove' value="<%= names[i].registration_number %>" type="text" class="hidden" required>
              <button class="ui red button" type="submit" style="">Remove</button>
            </form>
          <% } %>
        </td>
      </tr>
  <br><br>
  <% } %>
    </tbody>
  </table>

<% } %>
</div>
