<div class="ui center aligned container">
	<div class = "panel panel-primary">
		<div class = "panel-heading">
			Here are some instructions.
		</div>
		<div class="panel-body">
			<a href="/mygroup" class="ui huge red button">My group</a>
			<a href="/receivedrequests" class="ui huge brown button">Received Requests</a>
		</div>
	</div>
</div>