<div class="ui blue message">
		<h1 class="welcome">Welcome, <%=first_name%> </h1>
	</div>
<div class="ui center aligned container">
		<div class="panel">
			<a href="/mygroup" class="ui huge red button">My group</a>
			<a href="/receivedrequests" class="ui huge brown button">Received Requests</a>
			<a href="/viewRooms" class="ui huge blue button">Verify Hostel Information</a>
		</div>

	<div class="row">
		<div class="col-sm-8">
			<div class = "panel panel-primary">
				<div class = "panel-heading">
					RMR Instructions
				</div>
				<div class="panel-body">
					<ol style="text-align: justify;">
						<li>Suppose a group of 3 students wants to form a group, they should decide an admin among themselves. Only the admin of a particular group will be allowed to book a room on the day of the allotment. So choose someone with a good internet connection and someone who ll be free on the day of allotment, 14th to 16th tentatively.</li>
						<li>Admin with registration number "x"  clicks on the "My group" link on this page.</li>
						<li>Admin creates a group by giving it a name.</li>
						<li>Admin enters registration number "y" of his friend and clicks on "Invite Roommate". Remember that you can only send requests to students of your gender and year and category(JEE) .</li>
						<li>Admin enters registration number "z" of his other friend and clicks on "Invite Roommate". Admin will not be allowed invite roommates after his group has reached it's maximum capacity.</li>
						<li>The other roommates login, and click on "Received Requests". They do not need to create a group of their own.</li>
						<li>They can see a request from Sender with registration number "x" and they accept it.
						😎 All three of them can see group details once requests are accepted.</li>
						<li>You can send request only to those of same course,year and admission type (JEE,DASA)as yours.</li>
						<li> You are allowed to form a group of size less than the maximum size as well</li>
						<li> In case of PG - Only students of same course can form group together i.e. Mtech with only Mtech,MCA with MCA , Msc with Msc , Msc.Tech with Msc.Tech ,MBA with MBA only.</li>
						<li>Happy Omaha</li>
					</ol>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel-primary">
				<div class="panel-heading">
					Student Eligibility
				</div>
				<div class="panel-body">
					<ol style="text-align: left;">
						<li>All girls (Max group size = 5)</li>
						<li>3rd Year Jee Boys (Max group size = 2)</li>
						<li>2nd Year Jee Boys (Max group size = 3)</li>
						<li>PhD Females won't have roommate request.They will be booking rooms individually</li>
					</ol>
				</div>
			</div>
		</div>
	</div>


</div>
