<div class="">
	<h1>New studentData</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/studentData/create" method="post">
				<div class="">
					<label for="">userid</label>
					<input type="number" name="userid" value="" required="false">
				</div>
				<div class="">
					<label for="">name</label>
					<input type="text" name="name" value="" required="false">
				</div>
				<div class="">
					<label for="">roll_number</label>
					<input type="text" name="roll_number" value="" required="false">
				</div>
				<div class="">
					<label for="">registration_number</label>
					<input type="text" name="registration_number" value="" required="false">
				</div>
				<div class="">
					<label for="">current_section</label>
					<input type="text" name="current_section" value="" required="false">
				</div>
				<div class="">
					<label for="">current_year</label>
					<input type="text" name="current_year" value="" required="false">
				</div>
				<div class="">
					<label for="">joining_year</label>
					<input type="text" name="joining_year" value="" required="false">
				</div>
				<div class="">
					<label for="">course</label>
					<input type="text" name="course" value="" required="false">
				</div>
				<div class="">
					<label for="">branch</label>
					<input type="text" name="branch" value="" required="false">
				</div>
				<div class="">
					<label for="">gender</label>
					<input type="" name="gender" value="" required="false">
				</div>
				<div class="">
					<label for="">birthday</label>
					<input type="date" name="birthday" value="" required="false">
				</div>
				<div class="">
					<label for="">country</label>
					<input type="text" name="country" value="" required="false">
				</div>
				<div class="">
					<label for="">mobile</label>
					<input type="text" name="mobile" value="" required="false">
				</div>
				<div class="">
					<label for="">emergency_contact</label>
					<input type="text" name="emergency_contact" value="" required="false">
				</div>
				<div class="">
					<label for="">sbh_account</label>
					<input type="text" name="sbh_account" value="" required="false">
				</div>
				<div class="">
					<label for="">passport</label>
					<input type="text" name="passport" value="" required="false">
				</div>
				<div class="">
					<label for="">hostel_room</label>
					<input type="text" name="hostel_room" value="" required="false">
				</div>
				<div class="">
					<label for="">hostel</label>
					<input type="text" name="hostel" value="" required="false">
				</div>
				<div class="">
					<label for="">mess</label>
					<input type="text" name="mess" value="" required="false">
				</div>
				<div class="">
					<label for="">created_location</label>
					<input type="text" name="created_location" value="" required="false">
				</div>
				<div class="">
					<label for="">created_time</label>
					<input type="text" name="created_time" value="" required="false">
				</div>
				<div class="">
					<label for="">guardian1</label>
					<input type="text" name="guardian1" value="" required="false">
				</div>
				<div class="">
					<label for="">relationship1</label>
					<input type="text" name="relationship1" value="" required="false">
				</div>
				<div class="">
					<label for="">email1</label>
					<input type="text" name="email1" value="" required="false">
				</div>
				<div class="">
					<label for="">mobile1</label>
					<input type="text" name="mobile1" value="" required="false">
				</div>
				<div class="">
					<label for="">guardian2</label>
					<input type="text" name="guardian2" value="" required="false">
				</div>
				<div class="">
					<label for="">relationship2</label>
					<input type="text" name="relationship2" value="" required="false">
				</div>
				<div class="">
					<label for="">email2</label>
					<input type="text" name="email2" value="" required="false">
				</div>
				<div class="">
					<label for="">mobile2</label>
					<input type="text" name="mobile2" value="" required="false">
				</div>
				<div class="">
					<label for="">homenumber</label>
					<input type="text" name="homenumber" value="" required="false">
				</div>
				<div class="">
					<label for="">address</label>
					<input type="text" name="address" value="" required="false">
				</div>
				<div class="">
					<label for="">bloodgroup</label>
					<input type="text" name="bloodgroup" value="" required="false">
				</div>
				<div class="">
					<label for="">adhaar</label>
					<input type="text" name="adhaar" value="" required="false">
				</div>
				<div class="">
					<label for="">linkedin</label>
					<input type="text" name="linkedin" value="" required="false">
				</div>
				<div class="">
					<label for="">mac</label>
					<input type="text" name="mac" value="" required="false">
				</div>
			<button type="submit">Save studentData</button>
		</form>
		<br />
		<a href="/studentData">Index</a>
	</div>
</div>
