<div class="">
	<h1>New users</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/users/create" method="post">
				<div class="">
					<label for="">id</label>
					<input type="number" name="id" value="" required="false">
				</div>
				<div class="">
					<label for="">ip_address</label>
					<input type="text" name="ip_address" value="" required="false">
				</div>
				<div class="">
					<label for="">username</label>
					<input type="text" name="username" value="" required="false">
				</div>
				<div class="">
					<label for="">password</label>
					<input type="text" name="password" value="" required="false">
				</div>
				<div class="">
					<label for="">profile_edited</label>
					<input type="number" name="profile_edited" value="" required="false">
				</div>
				<div class="">
					<label for="">salt</label>
					<input type="text" name="salt" value="" required="false">
				</div>
				<div class="">
					<label for="">email</label>
					<input type="text" name="email" value="" required="false">
				</div>
				<div class="">
					<label for="">activation_code</label>
					<input type="text" name="activation_code" value="" required="false">
				</div>
				<div class="">
					<label for="">forgotten_password_code</label>
					<input type="text" name="forgotten_password_code" value="" required="false">
				</div>
				<div class="">
					<label for="">forgotten_password_time</label>
					<input type="number" name="forgotten_password_time" value="" required="false">
				</div>
				<div class="">
					<label for="">remember_code</label>
					<input type="text" name="remember_code" value="" required="false">
				</div>
				<div class="">
					<label for="">created_on</label>
					<input type="number" name="created_on" value="" required="false">
				</div>
				<div class="">
					<label for="">last_login</label>
					<input type="number" name="last_login" value="" required="false">
				</div>
				<div class="">
					<label for="">active</label>
					<input type="number" name="active" value="" required="false">
				</div>
				<div class="">
					<label for="">first_name</label>
					<input type="text" name="first_name" value="" required="false">
				</div>
				<div class="">
					<label for="">middle_name</label>
					<input type="text" name="middle_name" value="" required="false">
				</div>
				<div class="">
					<label for="">last_name</label>
					<input type="text" name="last_name" value="" required="false">
				</div>
				<div class="">
					<label for="">company</label>
					<input type="text" name="company" value="" required="false">
				</div>
				<div class="">
					<label for="">phone</label>
					<input type="text" name="phone" value="" required="false">
				</div>
			<button type="submit">Save users</button>
		</form>
		<br />
		<a href="/users">Index</a>
	</div>
</div>
